/********************
******* Colors ******
********************/
$green: #6eb53e;
$blue: #1474b8;


/********************
*** Font settings ***
********************/

/* Fonts */
@font-face {
  font-family: MFW;
  src: url("../../assets/fonts/Marker Felt Wide.ttf");
}

%mfw {
  font-family: "MFW";
}

/* Headers */
.main-title {
  @extend %mfw;
  font-size: 34px;
  text-transform: uppercase;
}

.big-title {
  @extend %mfw;
  font-size: 60px;
}

.small-title {
  @extend %mfw;
  font-size: 18px;
}

/* Text */
.text-bold {
  font-weight: 700;
}

@media (max-width: 600px){
  .big-title{
    font-size: 35px;
  }
}


/********************
****** Buttons ******
********************/
.btn-app {
  text-transform: uppercase;
  @extend %mfw;
  border-radius: 7px;
  padding: 10px 40px;
  background-color: $green;
  color: #fff;
  font-size: 20px;
}

/********************
*** Margin/padding **
********************/

.my-6 {
  margin: 4rem 0 !important;
}

.pd-0 {
  padding: 0 !important;
}

/********************
****** Overig *******
********************/
a:hover {
  color: #fff;
  text-decoration: none;
}

.route-card{
  a{
    color: #000;
  }
  a:hover{
    color: #000;
  }
}

/* afters*/
.has-before:before {
  background-color: $blue;
  content: "";
  position: absolute;
  width: 100%;
  height: 150px;
  bottom: 0;
}

/********************
****** footer *******
********************/
.footer-1 {
  clip-path: ellipse(115% 78% at 35% 21%);
  background-color: #3c3c3b;
  color: #fff;
}

.footer-2 {
  background-color: $green;
  color: #fff;
  padding: 45px 0 20px;
  margin-top: -30px;
}

/********************
****** header *******Ø
********************/
.navbar-brand {
  font-size: 18px;
  padding-left: 20px;
  color: #fff !important;
  @extend %mfw;
  @media (max-width: 1100px) {
    font-size: 17px;
    line-height: 1.8;
  }
}

.bg-light{
  background-color: $blue!important;
}

.nav-link{
  color: #fff !important;
}

.navbar-toggler {
  @media (max-width: 1100px) {
    float: left;
  }
}