@charset "UTF-8";
/********************
******* Colors ******
********************/
/********************
*** Font settings ***
********************/
/* Fonts */
@font-face {
  font-family: MFW;
  src: url("../../assets/fonts/Marker Felt Wide.ttf"); }

.main-title, .big-title, .small-title, .btn-app, .navbar-brand {
  font-family: "MFW"; }

/* Headers */
.main-title {
  font-size: 34px;
  text-transform: uppercase; }

.big-title {
  font-size: 60px; }

.small-title {
  font-size: 18px; }

/* Text */
.text-bold {
  font-weight: 700; }

/********************
****** Buttons ******
********************/
.btn-app {
  text-transform: uppercase;
  border-radius: 7px;
  padding: 10px 40px;
  background-color: #6eb53e;
  color: #fff;
  font-size: 20px; }

/********************
*** Margin/padding **
********************/
.my-6 {
  margin: 4rem 0 !important; }

.pd-0 {
  padding: 0 !important; }

/********************
****** Overig *******
********************/
a:hover {
  color: #fff;
  text-decoration: none; }

.route-card a {
  color: #000; }

.route-card a:hover {
  color: #000; }

/* afters*/
.has-before:before {
  background-color: #1474b8;
  content: "";
  position: absolute;
  width: 100%;
  height: 150px;
  bottom: 0; }

/********************
****** footer *******
********************/
.footer-1 {
  clip-path: ellipse(115% 78% at 35% 21%);
  background-color: #3c3c3b;
  color: #fff; }

.footer-2 {
  background-color: #6eb53e;
  color: #fff;
  padding: 45px 0 20px;
  margin-top: -30px; }

/********************
****** header *******Ø
********************/
.navbar-brand {
  font-size: 18px;
  padding-left: 20px;
  color: #fff !important; }
  @media (max-width: 1100px) {
    .navbar-brand {
      font-size: 17px;
      line-height: 1.8; } }

.bg-light {
  background-color: #1474b8 !important; }

.nav-link {
  color: #fff !important; }

@media (max-width: 1100px) {
  .navbar-toggler {
    float: left; } }

.jumbotron {
  background-image: url("../../assets/img/main.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  margin: 0;
  clip-path: ellipse(115% 78% at 35% 21%); }
  .jumbotron .big-title {
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); }

/* Over Ons */
.over-ons {
  color: #fff;
  background-color: #1474b8;
  clip-path: ellipse(115% 78% at 35% 21%); }

/* Route */
.route-intro p {
  font-size: 19px;
  line-height: 1.6; }

.route-grid .route-card {
  padding-bottom: 30px; }

.route-grid img {
  border: 8px #1474b8 solid;
  border-radius: 10px;
  width: 100%;
  height: auto;
  object-fit: cover; }

.route-grid .small-text {
  font-size: 12px; }

@media (max-width: 600px) {
  .route-grid .small-text {
    padding: 10px; }
  .route-grid .small-title {
    padding: 20px 10px 0 10px;
    margin: 0; }
  .route-grid .route-card {
    padding-bottom: 0; } }

/* Kinder-routes */
.kinder-routes {
  color: #fff;
  padding: 80px 0;
  background-color: #6eb53e;
  clip-path: ellipse(115% 78% at 35% 21%);
  margin-bottom: -90px; }
  .kinder-routes .t-1 {
    font-size: 20px;
    font-weight: 700; }
  .kinder-routes .t-2 {
    font-weight: 700;
    font-size: 17px; }
  .kinder-routes .t-3 {
    font-weight: 500;
    font-style: italic;
    font-size: 15px; }
  .kinder-routes img {
    width: 275px;
    position: absolute;
    right: 400px;
    margin-top: -70px; }

.kinder-routes-grid {
  padding: 140px 0 30px; }

/*map*/
.map img {
  width: 100%;
  object-fit: cover;
  height: 900px; }

/*Hoe-werkt-het*/
.hoe-werkt-het {
  background-color: #1474b8;
  color: #fff; }
  .hoe-werkt-het .t-1 {
    padding: 5px 0; }
  .hoe-werkt-het .hoe-werkt-het-card {
    padding: 10px 0; }
    .hoe-werkt-het .hoe-werkt-het-card img {
      width: 100%; }

/* verkooppunten */
.verkooppunten h1 {
  color: #1474b8; }

.verkooppunten ul {
  width: 30%;
  float: left; }

.verkooppunten li {
  list-style: none;
  padding-bottom: 20px; }
